on early-init
    setprop ro.hardware.sensors iio
    setprop ro.iio.accel.quirks "no-trig,no-event"
    setprop ro.iio.anglvel.quirks "no-trig,no-event"
    setprop ro.iio.magn.quirks "no-trig,no-event"
